.banner.index{
  height: calc(100vh);
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    padding: 0px;
    color: white;
    margin-bottom: 30px;
  }
}

.header{
  background-image: linear-gradient(-225deg, rgba(0,0,0,0.4) 50%, rgba(0,0,0,0.1) 80%), url(https://media.timeout.com/images/101692749/image.jpg);
  background-position: center;
  background-size: cover;
}

.btn.btn-home{
  background-color: none;

}
